:root {
  --die-size: 2em;
  --die-text: white;
  --die-bg: darkgrey;
  --rolled-bg: black;
  --success-bg: green;
  --failure-bg: red;
}

.dice {
  padding: 0;
}

.dice li {
  display: inline-block;
}

.outcome {
  height: 1.4em;
}
